.Rproj.user
.Rhistory
.Rprofile
.RData*
.Ruserdata
~$*
*.nex
*.pdf
*.QStats
*.Rd
*.trees
*.zip
inst/doc
inst/Referee*
inst/*.docx
inst/*.png
orTrees/*.*0/
src-*
src/*.o
src/*.so
src/*.dll
vignettes/*_cache
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
# The following line is to facilitate housekeeping and should be deleted:
*.run*.nex
*.doc
*.eps
