Meta
doc
.Rd2pdf*
.Rproj.user
.Rhistory
.Rprofile
.RData*
.Ruserdata
~*
*.doc
*.eps
*.nex
*.pdf
*.trees
*.zip
Figures/*.svg
manuscript/doc
manuscript/Referee*
manuscript/*.docx
manuscript/*.png
manuscript/SUGGESTED_REFEREES
manuscript/SUMMARY
src-*
src/*.o
src/*.so
src/*.dll
*_cache
SupplementaryFiles/*_files
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
*.out
